/* MAIN STYLES */
/* First Section */
#main-first-section {
	background-color: #2E75B5;
}

#main-first-section-button {
	background-color: #FED966;
	color: #2E75B5;
}

/* Second Section */
#main-second-section {
	background-color: #FFF;
}

#main-second-section h3 {
	color: #2E75B5;
	font-weight: bolder;
}

#main-second-section p {
	color: #898989;
	font-weight: bolder;
}

/* Third Section */
#main-third-section {
	background-color: #2E75B5;
}

#main-third-section-button {
	background-color: #FED966;
	color: #2E75B5;
	margin-top: 120px;
	border: none;
}