{% extends "base.html" %} <!-- Inherit Templates -->
{% block title %}Main Page{% endblock%}


{% block content %}

<div class="home-page">
	<!-- FIRST SECTION (Heading, Images, and CTA Button) -->
	<section id="main-first-section">
		<div class="container mt-0.5 p-5">
			<div class="row justify-content-center align-items-center">
				<!-- Title Heading -->
				<div class="col-lg-4 col-md-auto text-lg-start text-center">
					<h1 class="display-1" style="color: #FED966;"><span class="fw-bold">Cut</span>Out</h1>
					<p class="lead text-light text-start">Haven't experience a face hole cutout? Try to create digital
						versions
						of it
						using this
						application</p>
					<button class="btn btn-primary mt-5" id="main-first-section-button" href="#"><span
							class="fw-bold">LET'S
							CUT</span>OUT</button>
				</div>
				<!-- First Column Image -->
				<div class="col-lg-3 col-md-6 col-sm-8 mt-md-3 mt-sm-3">
					<img src="/img/home-first-section-pic1.png" alt="Face Model 1"
						class="rounded-4 border-0 img-thumbnail">
					<div class="mt-2 p-2 rounded-4 bg-light">
						<img src="/img/home-first-section-pic2.png" alt="Face Model 2"
							class="rounded-4 border-0 img-thumbnail">
						<div class="m-3 text-center">
							<h6 class="fw-bold">Outfit Name</h6>
							<small>Outfit Descriptions</small>
						</div>
					</div>
				</div>
				<!-- Second Column Image -->
				<div class="col-lg-3 col-md-6 col-sm-auto mt-sm-3">
					<img src="/img/home-first-section-pic3.png" alt="Face Model 3"
						class="rounded-4 border-0 img-thumbnail">
				</div>
			</div>
		</div>
	</section>

	<!-- SECOND SECTION (Swap Faces, Preview, Match Style) -->
	<section>
		<div class="container p-5 d-flex flex-column gap-4" id="main-second-section">
			<!-- Row 1: Swap Faces -->
			<div class="row justify-content-center align-items-center">
				<div
					class="col-lg-3 col-md-6 col-sm-12 text-lg-start text-md-center text-center mb-md-1 order-md-1 order-sm-1">
					<h3>Swap faces</h3>
					<p class="lead">with your</p>
					<h3>favorite model</h3>
				</div>
				<div class="col-lg-auto col-md-12 col-sm-12 text-center order-md-2 order-sm-2">
					<img src="/img/home-second-section-pic1.png" id="main-second-section-images"
						class="img-fluid rounded rounded-5" alt="Virtually Try-On Image">
				</div>
			</div>
			<!-- Row 2: Virtually Try-On -->
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-auto col-md-12 text-center order-lg-1 order-2">
					<img src="/img/home-second-section-pic2.png" id="main-second-section-images"
						class="img-fluid rounded rounded-5" alt="Virtually Try-On Image">
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 text-lg-end text-md-center text-center mb-3 order-lg-2 order-1">
					<h3>Virtually try-on</h3>
					<p class="lead">styles</p>
				</div>
			</div>
			<!-- Row 3: Preview Your New Look -->
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-3 col-md-6 col-sm-12 text-lg-start text-center mb-3 order-1">
					<h3>Preview</h3>
					<p class="lead">your</p>
					<h3>new look</h3>
				</div>
				<div class="col-lg-auto col-md-12 text-center order-2">
					<img src="/img/home-second-section-pic3.png" id="main-second-section-images"
						class="img-fluid rounded rounded-5" alt="Virtually Try-On Image">
				</div>
			</div>
			<!-- Row 4: Match Your Style -->
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-auto col-md-12 text-center order-lg-1 order-2">
					<img src="/img/home-second-section-pic4.png" id="main-second-section-images"
						class="img-fluid rounded rounded-5" alt="Virtually Try-On Image">
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 text-lg-end text-center mb-3 order-lg-2 order-1">
					<p class="lead">Match</p>
					<h3>your style</h3>
				</div>
			</div>
		</div>
	</section>

	<!-- THIRD SECTION (Heading, Images, and CTA Button) -->
	<section>
		<div class="container p-5" id="main-third-section">
			<div class="row justify-content-center align-items-center">
				<!-- Left Image and Caption -->
				<div class="col-auto text-center">
					<div class="p-2 rounded-4 bg-light text-black" style="max-width: auto;">
						<img src="/img/home-third-section-pic1.png" alt="Face Model 2"
							class="rounded-4 border-0 img-thumbnail" style="max-height: auto;">
						<div class="m-3">
							<h6 class="fw-bold">Outfit Name</h6>
							<small>Outfit Descriptions</small>
						</div>
					</div>
				</div>
				<!-- Right Larger Image with Button -->
				<div class="col-auto mt-sm-3 position-relative">
					<img src="/img/home-third-section-pic2.png" class="img-fluid rounded-5" alt="Outfit Image 2">
					<button class="btn btn-primary fw-bold position-absolute top-50 start-50 translate-middle"
						id="main-third-section-button" href="#">TRY IT NOW</button>
				</div>
			</div>
		</div>
	</section>

</div>

{% endblock %}