{% extends "base.html" %} <!-- Inherit Templates -->
{% block title %}Main Page{% endblock%}


{% block content %}

<!-- FIRST SECTION (Heading, Images, and CTA Button) -->
<section id="first-section">
	<div class="container mt-0.5 p-5">
		<div class="row justify-content-center align-items-center">
			<!-- Title Heading -->
			<div class="col-lg-4 col-md-auto text-lg-start text-center">
				<h1 class="display-1" style="color: #FED966;"><span class="fw-bold">Cut</span>Out</h1>
				<p class="lead text-light text-start">Haven't experience a face hole cutout? Try to create digital
					versions
					of it
					using this
					application</p>
				<button class="btn btn-primary mt-5" id="first-section-button" href="#"><span class="fw-bold">LET'S
						CUT</span>OUT</button>
			</div>
			<!-- First Column Image -->
			<div class="col-lg-3 col-md-6 col-sm-8 mt-md-3 mt-sm-3">
				<img src="https://fakeimg.pl/280x220?font=bebas" alt="Face Model 1"
					class="rounded-4 border-0 img-thumbnail">
				<div class="mt-2 p-2 rounded-4 bg-light">
					<img src="https://fakeimg.pl/280x220?font=bebas" alt="Face Model 2"
						class="rounded-4 border-0 img-thumbnail">
					<div class="m-3 text-center">
						<h6 class="fw-bold">Outfit Name</h6>
						<small>Outfit Descriptions</small>
					</div>
				</div>
			</div>
			<!-- Second Column Image -->
			<div class="col-lg-3 col-md-6 col-sm-auto mt-sm-3">
				<img src="https://fakeimg.pl/320x400?font=bebas" alt="Face Model 3"
					class="rounded-4 border-0 img-thumbnail">
			</div>
		</div>
	</div>
</section>

{% endblock %}