{% extends "base.html" %} <!-- Inherit Templates -->
{% block title %}Swapping Select Face{% endblock%}


{% block content %}

<!-- SWAPPING FIRST SECTION -->
<section id="swapping-first-section">
  <div class="mt-0.5 p-5 text-center bg-light">
    <h3 class="display-4 fw-bold">PICK A FACE</h3>
    <p class="lead fs-3">Pick a face to use among the set templates</p>
  </div>
</section>

<!-- SWAPPING SECOND SECTION -->
<section id="swapping-second-section">
  <div class="container mt-3 p-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-5 text-center ">
        <p class="display-5 text-light">Upload an Image</p>
        <a href="#">
          <div style="background-color: #2D5A7F;" class="rounded-5 p-5">
            <img src="/icons/upload-icon-swapping-page.png" class="img-fluid w-50" alt="Upload Image">
          </div>
        </a>
      </div>
      <div class="col-auto my-auto text-center">
        <h3 style="color: #FFF;">OR</h3>
      </div>
      <div class="col-lg-4 col-md-5 text-center">
        <p class="display-5 text-light">Take a Picture</p>
        <a href="#">
          <div style="background-color: #2D5A7F;" class="rounded-5 p-5">
            <img src="/icons/take-picture-icon-swapping-page.png" class="img-fluid w-50" alt="Upload Image">
          </div>
        </a>
      </div>
    </div>
    <div class="row text-end mt-5">
      <div class="col">
        <button class="btn btn-secondary fw-bold me-3" id="swapping-back-button" href="#">Go Back</button>
        <button class="btn btn-primary fw-bold" id="swapping-continue-button" href="#">Continue</button>
      </div>
    </div>
  </div>
</section>

{% endblock %}